{{#if listado.length }}
{{#each listado}}
<div class="card">
    <input type="checkbox" id="card{{id}}" class="card__input" aria-hidden="true">
    <div class="card__content">
        <div class="card__image" style="background-image: url({{foto}})">
            <div class="card__front">
                <h3 class="card__heading">
                    {{nombre}} 
                </h3>
                <label for="card{{id}}" class="card__button" style="background-image: url(/img/iconos/ir.png);" aria-hidden="true">
                </label>
            </div>
        </div>
        <div class="card__back">
            <div class="card__back-inner">
                <div class="card__back-description">
                    <p>
                        {{detalles}}
                    </p>
                </div>
                <div class="card__back-price">
                    ${{precio}}
                </div>
                <img src="/img/logo/logo_small_icon_only.png" alt="icono del carrito" onclick="agregarCarrito(event,'{{id}}',this)">
                <label for="card{{id}}" class="card__back-button" style="background-image: url(/img/iconos/retorno.png);" aria-hidden="true">
                </label>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}